/* label color */
.input-field input[type=text]:focus + label {
 color: #e53935 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #e53935 !important;
 box-shadow: 0 1px 0 0 #e53935 !important;
}

/* label focus color for email */
.input-field input[type=email]:focus + label {
 color: #e53935 !important;
}

/* label underline focus color for email */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #e53935 !important;
 box-shadow: 0 1px 0 0 #e53935 !important;
}

/* label focus color for message */
.input-field textarea[type=text]:focus + label {
 color: #e53935 !important;
}

/* label underline focus color for message */
.input-field textarea[type=text]:focus {
 border-bottom: 1px solid #e53935 !important;
 box-shadow: 0 1px 0 0 #e53935 !important;
}

/* ------------------------------------------- */

/* datepicker color top/bottom */
.picker__weekday-display {
  background-color: #e53935 !important;
}

.picker__date-display {
  background-color: #ef5350 !important; 
}

/* datepicker current date color & bg color */
.picker__day.picker__day--today {
  color: #e53935 !important;
}

.picker__day.picker__day--today.picker__day--selected {
  color: #fff !important;
}

/* datepicker close & today button color */
.picker__close, .picker__today {
  color: #e53935 !important;
}

/* datepicker current date color & bg color */
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e53935 !important;
  color: #ffffff;
}

/* ------------------------------------------- */

h1 {
  color: #ef5350;
}
